<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inset phone number</title>
</head>
<body>
<h1 align="center">Type your phone number</h1>
<form action="#" th:action="@{/check}" method="post" th:object="${phoneNumber}">
    <table>
        <tr>
            <td>Phone number</td>
            <td><input type="text" th:field="*{number}"></td>
            <td th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Number Errors</td>
        </tr>
    </table>
    <button type="submit">Submit</button>
</form>
</body>
</html>